*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:"Segoe UI",Arial,Helvetica,sans-serif;
}

/* PAGE */

.forgot-container{
  min-height:100vh;

  background: linear-gradient(135deg,#A18CD1,#FBC2EB,#FAD0C4);
  display:flex;
  justify-content:center;
  align-items:center;

  padding:40px;

  position:relative;
}

/* CARD */

.forgot-container form{
  width:100%;
  max-width:420px;

  padding:38px;

  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(12px);

  border-radius:20px;

  box-shadow:0 20px 40px rgba(0,0,0,0.1);

  display:flex;
  flex-direction:column;
  gap:18px;

  animation:fadeUp .4s ease;
}

/* animation */

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(15px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* TITLE */

.forgot-container h2{
  text-align:center;
  margin:0;
  font-size:26px;
  font-weight:700;
}

/* DESCRIPTION */

.forgot-desc{
  text-align:center;
  font-size:14px;
  color:#555;
}

/* INPUT */

.forgot-container input{
  width:100%;
  padding:13px 15px;

  border:1.5px solid #ddd;
  border-radius:12px;

  color: black;

  background:#f9f9f9;

  font-size:14px;

  transition:all .25s ease;
}

/* hover */

.forgot-container input:hover{
  border-color:#bbb;
}

/* focus */

.forgot-container input:focus{
  outline:none;

  border-color:#A18CD1;
  background:white;

  box-shadow:0 0 0 3px rgba(161,140,209,0.25);
}

/* BUTTON */

.forgot-container button{
  width:100%;
  padding:14px;

  border:none;
  border-radius:12px;

  background: linear-gradient(135deg,#A18CD1,#FBC2EB,#FAD0C4);

  color:white;

  font-size:15px;
  font-weight:600;

  cursor:pointer;
  transition:.25s;
}

/* hover */

.forgot-container button:hover{
  transform:translateY(-2px);
  box-shadow:0 10px 20px rgba(234,69,76,0.35);
  transition: 0.3s;
}

/* MESSAGE */

.forgot-message{
  text-align:center;
  font-size:14px;
  color:#2e7d32;
  font-weight:500;
}

/* BACK LOGIN */

.back-login{
  text-align:center;
  font-size:14px;
  text-decoration:none;
  color:#EA454C;
  font-weight:600;
}

.back-login:hover{
  text-decoration:underline;
}